SPP4/trunk/Spp/SppAudio/Debug/*
*/Release/*
SPP4/trunk/Spp/SppAudio/Release/AudioLib.Build.CppClean.log
SPP4/trunk/Spp/SppAudio/Release/AudioLib.log
SPP4/trunk/Spp/SppAudio/Release/AudioLib.res
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/AudioLib.lastbuildstate
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/AudioLib.write.1u.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/CL.command.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/CL.read.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/CL.write.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/link.command.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/link.read.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/link.write.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/rc.command.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/rc.read.1.tlog
SPP4/trunk/Spp/SppAudio/Release/AudioLib.tlog/rc.write.1.tlog
SPP4/trunk/Spp/SppAudio/Release/NotificationClient.obj
SPP4/trunk/Spp/SppAudio/Release/PulseData.obj
SPP4/trunk/Spp/SppAudio/Release/SppAudio.obj
SPP4/trunk/Spp/SppAudio/Release/stdafx.obj
SPP4/trunk/Spp/SppAudio/Release/vc140.pdb
SPP4/trunk/Spp/SppAudio/x64/
.svn/_wc.db
.svn/wc.db-journal
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/VUMeterControl.g.i.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/VUMeterControlLibrary_MarkupCompile.i.cache
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Controls/VUMeterControlLibrary/obj/Debug/VUMeterControlLibrary_MarkupCompile.i.lref
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Tester/.vs/SppUI/v14/.suo
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/Tester/SppUI.sdf
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/WpfCtrlWin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/WpfCtrlWin/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/WpfCtrlWin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/WpfCtrlWin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SPP4/UITester/SppUI/tags/1.0.2/tags/1.0.1/WpfCtrlWin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SPP4/trunk/Spp/.vs/Spp/v14/.suo
SPP4/trunk/Spp/Release/AudioLib.dll
SPP4/trunk/Spp/Release/AudioLib.dll.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/AudioLib.exp
SPP4/trunk/Spp/Release/AudioLib.lib
SPP4/trunk/Spp/Release/AudioLib.pdb
SPP4/trunk/Spp/Release/Filter.dll
SPP4/trunk/Spp/Release/Filter.dll.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/Filter.exp
SPP4/trunk/Spp/Release/Filter.iobj
SPP4/trunk/Spp/Release/Filter.ipdb
SPP4/trunk/Spp/Release/Filter.lib
SPP4/trunk/Spp/Release/Filter.pdb
SPP4/trunk/Spp/Release/JoyMonitor.exe
SPP4/trunk/Spp/Release/JoyMonitor.exe.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/JoyMonitor.pdb
SPP4/trunk/Spp/Release/PulseScope.dll
SPP4/trunk/Spp/Release/PulseScope.dll.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/PulseScope.exp
SPP4/trunk/Spp/Release/PulseScope.iobj
SPP4/trunk/Spp/Release/PulseScope.ipdb
SPP4/trunk/Spp/Release/PulseScope.lib
SPP4/trunk/Spp/Release/PulseScope.pdb
SPP4/trunk/Spp/Release/SppConsole.exe
SPP4/trunk/Spp/Release/SppConsole.exe.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/SppConsole.iobj
SPP4/trunk/Spp/Release/SppConsole.ipdb
SPP4/trunk/Spp/Release/SppConsole.pdb
SPP4/trunk/Spp/Release/SppProcess.dll
SPP4/trunk/Spp/Release/SppProcess.dll.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/SppProcess.exp
SPP4/trunk/Spp/Release/SppProcess.iobj
SPP4/trunk/Spp/Release/SppProcess.ipdb
SPP4/trunk/Spp/Release/SppProcess.lib
SPP4/trunk/Spp/Release/SppProcess.pdb
SPP4/trunk/Spp/Release/SppUI.lib
SPP4/trunk/Spp/Release/SppUI.lib.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/SppUI.res
SPP4/trunk/Spp/Release/vJoyInterface.dll
SPP4/trunk/Spp/Release/vJoyInterface.lib
SPP4/trunk/Spp/Release/vJoyMonitor.dll
SPP4/trunk/Spp/Release/vJoyMonitor.dll.lastcodeanalysissucceeded
SPP4/trunk/Spp/Release/vJoyMonitor.exp
SPP4/trunk/Spp/Release/vJoyMonitor.lib
SPP4/trunk/Spp/Release/vJoyMonitor.pdb
SPP4/trunk/Spp/Spp.VC.opendb
*.sdf
SPP4/trunk/Spp/SppUI/x64/Release/vc120.pdb
*.obj
*.lastcodeanalysissucceeded
SPP4/trunk/Spp/TinyXml/Release_STL/tinyxmlSTL.lib
*.bsc
SPP4/trunk/Spp/TinyXml/Release_STL/tinyxmlSTL.log
SPP4/trunk/Spp/TinyXml/Release_STL/
*.tlog
SPP4/trunk/Spp/SppProcess/x64/
SPP4/trunk/Spp/SppProcess/Debug/
SPP4/trunk/Spp/SppUI/Release/
*.user
SPP4/trunk/Spp/vJoyMonitor/Release/
SPP4/trunk/Spp/TinyXml/x64Debug_STL/
SPP4/trunk/Spp/TinyXml/x64/
*.ipch
*/gen-versioninfo.h
SPP4/trunk/Spp/vJoyMonitor/Debug/vc120.idb
*/Debug/*
*/Debug/
SPP4/trunk/Spp/vJoyMonitor/Debug/
*.rej
SPP4/trunk/Spp/CreateVersion/Debug/
SPP4/trunk/Spp/CreateVersion/Release/version.res
SPP4/trunk/Spp/CreateVersion/ReadMe.txt
SPP4/trunk/Spp/CreateVersion/output-git-desc.h
SPP4/trunk/Spp/CreateVersion/x64/Debug/
SPP4/trunk/Spp/CreateVersion/x64/Release/version.res
SPP4/trunk/Spp/Debug/AudioLib.exp
SPP4/trunk/Spp/Debug/Filter.exp
SPP4/trunk/Spp/Debug/
SPP4/trunk/Spp/Filter/Debug/
SPP4/trunk/Spp/Filter/Release/
SPP4/trunk/Spp/Filter/x64/Debug/
SPP4/trunk/Spp/Filter/x64/Release/
SPP4/trunk/Spp/Installer/Log files/
*/x64/Release/
*/x64/Debug/
*.cd
SPP4/trunk/Spp/JoyMonitor/Debug/
SPP4/trunk/Spp/JoyMonitor/Release/
SPP4/trunk/Spp/JoyMonitor/x64/Debug/JoyMonitor.pch.codeanalysis
SPP4/trunk/Spp/JoyMonitor/x64/Debug/
SPP4/trunk/Spp/PulseScope/x64/
SPP4/trunk/Spp/SppConsole/x64/
SPP4/trunk/Spp/desktop.ini
gen-versioninfo.h
Debug*/*
SPP4/trunk/Spp/TinyXml/Debug_STL/
*.codeanalysis
SPP4/trunk/Spp/JoyMonitor/Res.ruleset
SPP4/trunk/Spp/JoyMonitor/x64/Release/JoyMonitor.res
SPP4/trunk/Spp/JoyMonitor/x64/Release/version.res
SPP4/trunk/Spp/JoyMonitor/x64/
SPP4/trunk/Spp/PulseScope/Debug/
SPP4/trunk/Spp/x64/
SPP4/trunk/Spp/vJoyMonitor/x64/
SPP4/trunk/Spp/SppUI/Debug/
SPP4/trunk/Spp/SppUI/x64/
SPP4/trunk/Spp/SppConsole/RCa06080
SPP4/trunk/Spp/SppConsole/RCb06080
SPP4/trunk/Spp/SppConsole/Release/
SPP4/trunk/Spp/SppProcess/Release/
*.db
*.opendb
SPP4/trunk/Spp/SppConsole/Debug/
SPP4/trunk/Spp/PulseScope/Release/
